* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Poppins;
    font-size: 15px;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.sidebar {
    width: 100px;
    background-color: #333;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #555;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container to align boxes */
.container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100%;
    margin-left: -20%;
    margin-top: 8%;
    gap: 20px;
    max-width: 300px;
    padding: 10px;
    position: relative;
    float: left;
}

/* Box styling */
.box {
    width: 150px;
    height: 100px;
    background-color: #007bff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #0056b3; /* Changes color on hover */
}

/* Text inside each box */
.box p {
    font-size: 18px;
    margin: 0;
}